@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --whiteBird: rgb(214, 217, 219);
  --twitterWtext: rgb(231, 233, 234);
  --loginButton: rgb(247, 250, 254);
  --loginContentWidth: 300px;
  --logBHover: rgb(230, 240, 250);
  --homeBorder: 1px solid rgb(47,51,54);
  --homeLabelColor: rgb(113,118,123);
  --inputFocus: 2px solid rgb(64, 147, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.authentication {
  background-color: rgb(36, 45, 52);
  color: rgb(231, 233, 234);
}

.app {
  height: 1000px;
  width: 100%;
}

.ex {
  height: 30px;
  width: 30px;
}

.ex:hover {
  background-color: rgb(24, 25, 25);
}

.bird {
  color: var(--whiteBird);
}

.apple-in-login {
  font-size: 25px;
}

.google-butt-login {
  background-color: var(--loginButton);
  color: rgb(66, 64, 67);
}

.apple-butt-login {
  background-color: var(--loginButton);
}

.google-butt-login,
.apple-butt-login {
  height: 40px;
  width: var(--loginContentWidth);
}

.google-butt-login:hover,
.apple-butt-login:hover,
.next-signup-button:hover {
  background-color: var(--logBHover);
}

.auth-prov-option {
  border-bottom: 1px solid rgb(51, 54, 57);
  width: var(--loginContentWidth);
}

.or-in-login {
  width: 20px;
  height: 20px;
  top: 93%;
  color: var(--twitterWtext);
  background-color: black;
  padding: 0 15px;
}

.login-sign-in-box {
  width: var(--loginContentWidth);
  border: 1px solid rgb(51, 54, 57);
  padding-bottom: 8px;
  padding-top: 20px;
  padding-left: 13px;
}

.login-sign-in-box:focus {
  border: var(--inputFocus);
  outline: none;
  padding-bottom: 7px;
  padding-top: 19px;
  padding-left: 12px;
}

.forgot-pass-siginin {
  border: solid 1px rgb(83, 100, 113);
  height: 40px;
  width: var(--loginContentWidth);
  font-weight: 700;
}

.forgot-pass-siginin:hover {
  background-color: rgb(24, 25, 25);
}

.signup-link {
  color: rgb(18, 124, 194);
}

.signup-link:hover{
  text-decoration: underline;
}

.signin-dont-have {
  color: rgb(93, 95, 97);
}

.next-signup-button {
  color: rgb(15, 20, 25);
}

.apple-in-login {
  color: rgb(22, 22, 22);
}

.phemus-label {
  white-space: nowrap;
}

.login-sign-in-box:focus + .phemus-label,
.login-sign-in-box:not(:placeholder-shown) + .phemus-label {
  animation: identifier 0.1s linear forwards;
  color: rgb(64, 147, 255);
}

.signup-second-section{
  width: var(--loginContentWidth);
}

@keyframes identifier {
  from {
  }

  to {
    scale: 0.8;
    top: 5%;
    right: 80%;
  }
}

.signup-info{
  border-bottom: 1px solid gray;
  width: var(--loginContentWidth);
}

.signup-or{
  width: 20px;
  height: 20px;
  top: 96%;
  color: var(--twitterWtext);
  background-color: black;
  padding: 0 15px;
}

.sign-By-signingup{
  font-size: 13px;
  color: rgb(90, 92, 97);
}

.sign-Have-an{
  width: var(--loginContentWidth);
  color: rgb(90, 92, 97);
}

.homepage-left{
  width: 24%;
  border: none;
  border-right: var(--homeBorder);
}
.homepage-center{
  border-right: var(--homeBorder);
  width: 45%;
}
.homepage-right{

  width: 31%;
}

.homepage{
  width: 1280px;
  color: var(--twitterWtext);

}

.homepage-bird{
  display: flex;
  width:  50px;
  height: 50px;
}



.section1-main-setting {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.homepage-header-searchbox{
  width: 500px;
  background-color: rgb(32,35,39);
  color: var(--homeLabelColor);
}

.homepage-header-searchbox::placeholder{
  color: var(--homeLabelColor);
}

.homepage-header-label{
  color: var(--homeLabelColor)
}

.homepage-header-searchbox:focus{
  border: var(--inputFocus);
}

.homepage-header-searchbox:focus + .homepage-header-label{
  color: rgb(64, 147, 255);;
}

.homepage-right-box{
  border: var(--homeBorder);
  width: 350px;
}

.homepage-right-sign-now, .homepage-right-By-sign{
  color: var(--homeLabelColor);
  font-size: 13px;
}

.homepage-right-navbox{
  width: var(--loginContentWidth);
  color: var(--homeLabelColor);
}

.homepage-right-navbox-link:hover{
  text-decoration: underline;
}

.homepage-center-trends{
  width: 100%;
}

.homepage-center-info {

  background-color: blue;
}