@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --whiteBird: rgb(214, 217, 219);
  --twitterWtext: rgb(231, 233, 234);
  --loginButton: rgb(247, 250, 254);
  --loginContentWidth: 300px;
  --loginContemain-tweet-imagentWidth1: 270px;
  --logBHover: rgb(230, 240, 250);
  --homeBorder: 1px solid rgb(47, 51, 54);
  --homeLabelColor: rgb(113, 118, 123);
  --inputFocus: 2px solid rgb(64, 147, 255);
  --faintHover: rgb(8, 8, 8);
  --blueText: rgb(29, 155, 240);
  --buttonHover: rgb(24, 25, 25);
  --smallButtonColor: rgb(29, 155, 240);
  --loginspace: 80px;
  --loginspacesmall: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.authentication {
  background-color: rgb(36, 45, 52);
  color: rgb(231, 233, 234);
}

.lets-go-home{
  background-color: var(--smallButtonColor);
}

.app {
  height: 1000px;
  width: 100%;
}

.ex {
  height: 30px;
  width: 30px;
}

.ex:hover {
  background-color: rgb(24, 25, 25);
}

.profileEx:hover {
  background-color: rgb(24, 25, 25);
}

.homeBorder-bottom {
  border-bottom: var(--homeBorder);
}

.homelogouthovercancel {
  border: 2px solid rgb(113, 118, 123);
}

.bird {
  color: var(--whiteBird);
}

.apple-in-login {
  font-size: 25px;
}

.google-butt-login {
  background-color: var(--loginButton);
  color: rgb(66, 64, 67);
}

.apple-butt-login {
  background-color: var(--loginButton);
}

.google-butt-login,
.apple-butt-login {
  height: 40px;
  width: var(--loginContentWidth);
}

.bluebackground {
  background-color: var(--blueText);
}

.bluetext {
  color: var(--blueText);
}

.bankcard {
  max-width: 500px;
  background-color: rgb(23, 26, 28);
}

.google-butt-login:hover,
.apple-butt-login:hover,
.next-signup-button:hover {
  background-color: var(--logBHover);
}

.homepage-center-top-nav {
  border-bottom: var(--homeBorder);
}

.auth-prov-option {
  border-bottom: 1px solid rgb(51, 54, 57);
  width: var(--loginContentWidth);
}

.or-in-login {
  width: 20px;
  height: 20px;
  top: 93%;
  color: var(--twitterWtext);
  background-color: black;
  padding: 0 15px;
}

.login-sign-in-box {
  width: var(--loginContentWidth);
  border: 1px solid rgb(51, 54, 57);
  padding-bottom: 8px;
  padding-top: 20px;
  padding-left: 13px;
}

.homelabelcolor {
  color: var(--homeLabelColor);
}

.namefillboxprofile {
  width: 100%;
  border: 1px solid rgb(51, 54, 57);
  padding-bottom: 8px;
  padding-top: 20px;
  padding-left: 13px;
}

.biofillboxprofile {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(51, 54, 57);
  padding-bottom: 8px;
  padding-top: 20px;
  padding-left: 13px;
}

.biofillboxprofile:focus {
  border: var(--inputFocus);
  outline: none;
  padding-bottom: 7px;
  padding-top: 19px;
  padding-left: 12px;
}

.namefillboxprofile:focus {
  border: var(--inputFocus);
  outline: none;
  padding-bottom: 7px;
  padding-top: 19px;
  padding-left: 12px;
}

.login-sign-in-box:focus {
  border: var(--inputFocus);
  outline: none;
  padding-bottom: 7px;
  padding-top: 19px;
  padding-left: 12px;
}

.forgot-pass-siginin {
  border: solid 1px rgb(83, 100, 113);
  height: 40px;
  width: var(--loginContentWidth);
  font-weight: 700;
}

.search-people-card:hover {
  background-color: var(--faintHover);
}

.forgot-pass-siginin:hover {
  background-color: rgb(24, 25, 25);
}

.signup-link {
  color: rgb(18, 124, 194);
  cursor: pointer;
}

.signup-link:hover {
  text-decoration: underline;
}

.bioinprofile {
  min-height: 40px;
  word-wrap: break-word;
}

.signin-dont-have {
  color: rgb(93, 95, 97);
}

.next-signup-button {
  color: rgb(15, 20, 25);
}

.apple-in-login {
  color: rgb(22, 22, 22);
}

.phemus-label {
  white-space: nowrap;
}

.login-sign-in-box:focus + .phemus-label,
.login-sign-in-box:not(:placeholder-shown) + .phemus-label {
  animation: identifier 0.1s linear forwards;
  color: rgb(64, 147, 255);
}

.namefillboxprofile:focus + .phemus-label,
.namefillboxprofile:not(:placeholder-shown) + .phemus-label {
  animation: identifier 0.1s linear forwards;
  color: rgb(64, 147, 255);
}

.biofillboxprofile:focus + .phemus-label,
.biofillboxprofile:not(:placeholder-shown) + .phemus-label {
  animation: identifier 0.1s linear forwards;
  color: rgb(64, 147, 255);
}

.signup-second-section {
  width: var(--loginContentWidth);
}

.final-login-button {
  background-color: rgb(239, 243, 244);
  color: black;
}

.final-login-button:hover {
  background-color: var(--logBHover);
}

.ldio-02vutb3eyc03 div {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid #1d9bf0;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-02vutb3eyc03 div {
  animation: ldio-02vutb3eyc03 1s linear infinite;
  top: 50%;
  left: 50%;
}
.loadingio-spinner-rolling-clkv9s806ok {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-02vutb3eyc03 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-02vutb3eyc03 div {
  box-sizing: content-box;
}

.search-nav-button-hover:hover {
  background-color: var(--buttonHover);
}

@keyframes identifier {
  from {
  }

  to {
    scale: 0.8;
    top: 5%;
    right: 80%;
  }
}

@keyframes ldio-02vutb3eyc03 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.signup-info {
  border-bottom: 1px solid gray;
  width: var(--loginContentWidth);
}

.signup-or {
  width: 20px;
  height: 20px;
  top: 96%;
  color: var(--twitterWtext);
  background-color: black;
  padding: 0 15px;
}

.sign-By-signingup {
  font-size: 13px;
  color: rgb(90, 92, 97);
}

.sign-Have-an {
  width: var(--loginContentWidth);
  color: rgb(90, 92, 97);
}

@keyframes ldio-t108frvzbh {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-t108frvzbh div {
  left: 47px;
  top: 24px;
  position: absolute;
  animation: ldio-t108frvzbh linear 1s infinite;
  background: #ffffff;
  width: 6px;
  height: 12px;
  border-radius: 3px / 6px;
  transform-origin: 3px 26px;
}
.ldio-t108frvzbh div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #ffffff;
}
.ldio-t108frvzbh div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #ffffff;
}
.loadingio-spinner-spinner-wctuuyxuyv {
  width: 31px;
  height: 31px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-t108frvzbh {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.31);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-t108frvzbh div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

.homepage-left {
  width: 24%;
  border: none;
  border-right: var(--homeBorder);
}
.homepage-center {
  border-right: var(--homeBorder);
  width: 45%;
}

.homepage-right {
  width: 31%;
}

.homepage {
  width: 100%;
  color: var(--twitterWtext);
}

.homepage-bird {
  display: flex;
  width: 50px;
  height: 50px;
}

.section1-main-setting {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.section1-main-search {
  display: none;
}

.floating-tweet-button {
  display: none;
  background-color: var(--blueText);
  bottom: 12%;
  right: 8%;
}

.main-tweet-card {
  border-bottom: var(--homeBorder);
  border-top: var(--homeBorder);
}

.top-mobile-nav {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  position: absolute;
}

.main-tweet-card-user-actions::-webkit-scrollbar {
  display: none;
}

.main-tweet-card-user-actions {
  color: rgb(113, 118, 123);
  padding-bottom: 5px;
}

.main-tweet-card:hover {
  background-color: rgb(8, 8, 8);
}

.main-tweet-card-display-name:hover {
  text-decoration: underline;
}

.devprofilepagelink:hover {
  text-decoration: underline;
}

.devprofileheader {
  border-bottom: 1px solid var(--homeLabelColor);
}

.main-tweet-comment-icon:hover {
  color: var(--blueText);
}
.main-tweet-retweet-icon:hover {
  color: rgb(1, 161, 108);
}
.main-tweet-like-icon:hover {
  color: rgb(249, 24, 128);
}
.main-tweet-trend-icon:hover {
  color: var(--blueText);
}

.tweet-scroll-section::-webkit-scrollbar {
  width: 10px;
}

.tweet-scroll-section::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}

.tweet-scroll-section::-webkit-scrollbar-thumb {
  background-color: var(--blueText);
  border-radius: 30px;
}

.profilepagemainsection::-webkit-scrollbar {
  width: 10px;
}

.profilepagemainsection::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}

.profilepagemainsection::-webkit-scrollbar-thumb {
  background-color: var(--blueText);
  border-radius: 30px;
}

.profileMainEditButton {
  border: 1px solid var(--homeLabelColor);
}

.profileMainEditButton:hover {
  background-color: var(--buttonHover);
}

.main-tweet-trend-icon:hover .main-trend-icon-surround {
  background-color: rgb(10, 23, 31);
}
.main-tweet-comment-icon:hover .main-comment-icon-surround {
  background-color: rgb(7, 26, 20);
}
.main-tweet-retweet-icon:hover .main-retweet-icon-surround {
  background-color: rgb(10, 23, 31);
}
.main-tweet-like-icon:hover .main-like-icon-surround {
  background-color: rgb(32, 9, 20);
}

.main-tweet-comment-icon-background:hover {
  background-color: rgb(3, 16, 24);
}
.main-tweet-retweet-icon-background:hover {
  background-color: rgb(0, 19, 13);
}
.main-tweet-like-icon-background:hover {
  background-color: rgb(23, 2, 12);
}

.main-tweet-image {
  max-height: 1000px;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
}

.most-followed-user-card {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='200' preserveAspectRatio='none' viewBox='0 0 500 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1025%26quot%3b)' fill='none'%3e%3crect width='500' height='200' x='0' y='0' fill='rgba(208%2c 0%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M37.7 0C44.86 1.26 43.59 8.82 50 8.82C57.72 8.82 57.24 1.54 65.96 0C82.24 -2.87 82.98 0 100 0C125 0 125 0 150 0C172.08 0 174.22 -3.82 194.16 0C199.22 0.97 197.02 9.57 200 9.57C203.02 9.57 201.01 0.99 206.16 0C226.01 -3.8 228.08 0 250 0C275 0 275 0 300 0C318.38 0 321.27 -5.67 336.75 0C346.27 3.49 340.57 18.33 350 18.33C372.2 18.33 375 9.16 400 0C400 0 400 0 400 0C425 0 425 0 450 0C475 0 487.5 -12.5 500 0C512.5 12.5 500 25 500 50C500 73.55 506.13 78.71 500 97.1C497.8 103.71 483.33 98.43 483.33 100C483.33 101.58 497.77 96.71 500 103.39C506.11 121.71 500 126.69 500 150C500 172.18 505.06 175.54 500 194.35C498.33 200.54 493.68 199.19 486.54 200C468.68 202.02 468.27 200 450 200C425 200 425 200 400 200C375 200 375 200 350 200C325 200 325 200 300 200C275 200 275 200 250 200C225 200 225 200 200 200C175 200 175 200 150 200C136.57 200 130.65 208.4 123.15 200C108.33 183.4 115.41 174.31 105.36 150C103.84 146.31 102.41 144 100 144C97.9 144 98.12 146.97 96.34 150C81.67 174.97 85 180.7 67.11 200C61.83 205.7 58.56 200 50 200C25 200 12.5 212.5 0 200C-12.5 187.5 0 175 0 150C0 128.51 -9.93 120.27 0 107.03C8.82 95.27 37.5 103.21 37.5 100C37.5 96.81 8.66 105.77 0 94.23C-10.09 80.77 0 72.12 0 50C0 25 -10.75 14.25 0 0C8.1 -10.75 19.86 -3.15 37.7 0' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M100 30.77C90.87 31.47 88.89 40.14 88.89 50C88.89 61.66 89.94 73.02 100 73.81C120.49 75.42 125.32 64.96 150 54.79C154.21 53.05 157.78 52.37 157.78 50C157.78 47.64 154.29 46.76 150 45.33C125.4 37.14 121.42 29.13 100 30.77' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 47.76C248.34 47.76 246.34 48.4 246.34 50C246.34 52.78 248.52 56.52 250 56.52C251.35 56.52 252 53.04 252 50C252 48.66 251.17 47.76 250 47.76' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M450 34.29C446.05 34.29 441.67 41.71 441.67 50C441.67 64.04 446.09 78.95 450 78.95C453.87 78.95 457.24 64.14 457.24 50C457.24 41.81 453.84 34.29 450 34.29' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M200 144.87C196.74 144.87 193.1 147.85 193.1 150C193.1 151.87 196.63 152.9 200 152.9C202.65 152.9 205.13 151.8 205.13 150C205.13 147.78 202.75 144.87 200 144.87' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M17.21 0C34.74 8.25 34.81 10.39 50 23.53C63.7 35.39 75 36.03 75 50C75 66.06 67.04 77.17 50 83.58C29.54 91.28 16.02 88.97 0 78.21C-8.98 72.18 0 64.1 0 50C0 25 -6.4 18.6 0 0C2.2 -6.4 9.74 -3.52 17.21 0' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M100 6.73C95.54 4.5 92.55 1.93 92.55 0C92.55 -1.43 96.28 0 100 0C125 0 125 0 150 0C163.96 0 177.92 -5.89 177.92 0C177.92 8.44 166.48 27.25 150 28.67C127.52 30.61 124.26 18.84 100 6.73' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M185.56 50C193.65 44.21 192.62 36.17 200 36.17C207.76 36.17 211.11 40.93 215.85 50C227.78 72.84 238.06 81.24 233.33 100C230.14 112.65 215.18 103.71 200 112.82C173.51 128.71 173.03 153.06 150 150C124.74 146.65 103.41 121.74 103.41 100C103.41 82.7 126.77 86.06 150 71.92C167.84 61.06 168.65 62.09 185.56 50' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 29.1C236.73 14.48 223.29 8.68 223.29 0C223.29 -5.87 236.64 0 250 0C275 0 275 0 300 0C310.85 0 313.95 -6.07 321.69 0C338.95 13.52 331.26 33.73 350 39.17C370.41 45.09 378.28 19.5 400 22.73C414.65 24.91 415.35 34.29 422.73 50C433.5 72.93 426.7 76.43 436.29 100C440.33 109.93 440.39 113.29 450 117C472.25 125.58 483.36 113.6 500 124.58C508.36 130.1 500 137.29 500 150C500 162.1 507.82 167.58 500 174.19C482.82 188.73 474.78 182.72 450 192.31C441.45 195.62 442.21 198.63 433.33 200C417.21 202.48 416.66 200 400 200C387.5 200 375 203.25 375 200C375 196.28 390.22 195.98 400 186.05C414.83 170.98 424.22 166.32 424.22 150C424.22 138.1 412.4 139.45 400 129.61C380.89 114.45 377.22 117.49 361.21 100C352.22 90.18 360.74 77.97 350 75C330.14 69.52 321.4 89.68 300 83.1C280.74 77.18 284.15 66.72 268.67 50C259.15 39.72 259.42 39.48 250 29.1' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M473.68 50C473.68 34.01 492.61 17.21 500 17.21C505.77 17.21 500 33.6 500 50C500 64.5 505.6 78.99 500 78.99C492.44 78.99 473.68 64.9 473.68 50' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 126.56C17.05 120.23 27.84 123.54 50 131.43C60.77 135.26 65.85 140.08 65.85 150C65.85 162.37 57.26 162.64 50 176C43.67 187.64 48.85 195.12 38.68 200C23.85 207.12 8.44 210.9 0 200C-10.9 185.9 0 175 0 150C0 138.28 -7.95 129.51 0 126.56' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M237.18 150C248.56 137.63 236.92 123.3 250 116.67C268.33 107.39 278.51 109.38 300 118.18C319.18 126.04 322.01 130.84 331.34 150C341.93 171.75 348.61 186 339.83 200C332.94 211 319.91 200 300 200C275 200 275 200 250 200C225 200 225 200 200 200C175 200 175 200 150 200C148.15 200 146.3 201.72 146.3 200C146.3 176.72 137.1 156.96 150 150C163.95 142.47 175.61 171.01 200 171.01C219.2 171.01 223.56 164.8 237.18 150' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 8.7C14.61 5.26 26.1 22.09 50 38.24C56.66 42.74 61.11 43.79 61.11 50C61.11 57.14 58.28 63.28 50 64.93C27.72 69.37 20.11 68.18 0 62.18C-4.89 60.72 0 56.09 0 50C0 29.35 -10.39 11.14 0 8.7' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M150 12C138.56 12 125 3.16 125 0C125 -2.84 137.5 0 150 0C155.85 0 161.69 -2.47 161.69 0C161.69 3.53 156.91 12 150 12' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 10.45C245.26 5.17 240.41 3.12 240.41 0C240.41 -2.11 245.2 0 250 0C275 0 275 0 300 0C303.32 0 304.92 -2.64 306.63 0C321.1 22.36 334.37 30.01 332.35 50C331.06 62.75 314.74 65.49 300 65.49C291.23 65.49 292.5 57.89 285.33 50C267.5 30.37 267.72 30.17 250 10.45' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M385.29 50C387.32 43.58 393.32 45.45 400 45.45C402.57 45.45 402.96 47.19 403.79 50C411.02 74.46 417.48 77.51 416.13 100C415.58 109.09 408.17 113.16 400 113.16C391.49 113.16 384.98 109.55 382.76 100C377.63 77.97 378.7 70.86 385.29 50' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M490.13 50C490.13 44 497.23 37.7 500 37.7C502.16 37.7 500 43.85 500 50C500 55.44 502.1 60.87 500 60.87C497.16 60.87 490.13 55.59 490.13 50' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M131.82 100C131.82 93.25 140.52 89.04 150 89.04C162.52 89.04 175.81 92.93 175.81 100C175.81 108.16 162.06 119.51 150 119.51C140.06 119.51 131.82 108.48 131.82 100' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 146.09C5.85 146.09 12.95 143.71 14.71 150C20.49 170.66 20.74 180.8 15.09 200C13.38 205.8 1.75 205.8 0 200C-5.8 180.8 0 175 0 150C0 148.05 -1.5 146.09 0 146.09' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M273.44 150C279.59 138.4 287.83 137.12 300 137.12C307.45 137.12 310.23 141.69 312.69 150C319.55 173.13 323.27 181.75 318.64 200C316.93 206.75 309.32 200 300 200C283.34 200 271.95 209.94 266.67 200C258.67 184.94 262.93 169.84 273.44 150' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M443.75 150C443.75 145.82 445.26 142.36 450 142C473.39 140.24 476.95 142.07 500 145.76C501.95 146.07 500 147.88 500 150C500 152.01 501.85 153.65 500 154.03C476.85 158.78 472.71 161.89 450 160.26C444.59 159.87 443.75 154.95 443.75 150' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M179.17 200C179.17 197.12 189.26 189.13 200 189.13C214.1 189.13 228.85 197.19 228.85 200C228.85 202.63 214.43 200 200 200C189.58 200 179.17 202.55 179.17 200' stroke='rgba(227%2c 103%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1025'%3e%3crect width='500' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 200px;
}

.most-followed-user-card::-webkit-scrollbar{
  display: none;
}

.main-tweet-image-border {
  max-height: 1000px;
  min-height: 300px;
  border: var(--homeBorder);
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  display: flex;
}

.main-tweet-image-tweetfull {
  max-height: 1000px;
  border: var(--homeBorder);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.main-tweet-card-first-half {
  width: 10%;
}

.main-tweet-card-second-half {
  width: 90%;
}

.homepage-header-searchbox {
  width: 500px;
  background-color: rgb(32, 35, 39);
  color: var(--homeLabelColor);
}

.home-main-trends-for-you {
  border-radius: 20px;
}

.homemain-head-search,
.home-main-trends-for-you {
  width: 350px;
  background-color: rgb(32, 35, 39);
  color: var(--homeLabelColor);
}

.homepage-header-searchbox::placeholder,
.homemain-head-search::placeholder {
  color: var(--homeLabelColor);
}

.main-tweet-card-username {
  color: var(--homeLabelColor);
}

.homepage-header-label {
  color: var(--homeLabelColor);
}

.homepage-header-searchbox:focus,
.homemain-head-search:focus {
  border: var(--inputFocus);
}

.homepage-header-searchbox:focus + .homepage-header-label {
  color: rgb(64, 147, 255);
}

.homemain-head-search:focus + .homepage-header-label {
  color: rgb(64, 147, 255);
}

.homepage-right-box {
  border: var(--homeBorder);
  width: 350px;
}

.homepage-right-box-who-to-follow {
  width: 350px;
}

.homepage-right-sign-now,
.homepage-right-By-sign {
  color: var(--homeLabelColor);
  font-size: 13px;
}

.homepage-right-navbox {
  width: var(--loginContentWidth);
  color: var(--homeLabelColor);
}

.homepage-right-navbox-link:hover {
  text-decoration: underline;
}

.homepage-center-trends {
  width: 100%;
}

.emailUsedAlready {
  bottom: 65px;
  color: rgb(194, 6, 6);
}

.homepage-center-info::-webkit-scrollbar {
  width: 10px;
}

.leftnavbackcover {
  display: none;
}

.homepage-center-info::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}

.homepage-center-info::-webkit-scrollbar-thumb {
  background-color: var(--blueText);
  border-radius: 30px;
}

.trend-category,
.trend-tweets-num,
.homepage-center-current-trend-more,
.homepage-center-whats-happening-card-top-info-winner {
  color: var(--homeLabelColor);
}

.home-nav-username {
  color: var(--homeLabelColor);
  font-size: 14px;
}

.homepage-center-current-trend-more {
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-mobile-navbar-bottom-section {
  border-top: var(--homeBorder);
}

.homepage-center-current-trend-more:hover {
  background-color: rgb(10, 23, 32);
  color: rgb(29, 155, 240);
}

.homepage-center-current-trend:hover,
.homepage-center-showmoreinfo:hover,
.homepage-center-whats-happening-card:hover {
  background-color: var(--faintHover);
}

.section1-main-explore,
.section1-main-setting,
.section1-main-home-icon {
  width: 150px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.section1-main-home-icon {
  width: 130px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.section1-main-home-icon-long {
  width: 195px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.section1-main-home-icon-long-messge {
  width: 170px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.section1-main-home-icon-long-notif {
  width: 185px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.section1-main-home-icon-long-bkmrk {
  width: 175px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.section1-main-home-icon-profile {
  width: 135px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.section1-main-home-icon-long-home {
  width: 130px;
  height: 50px;
  border-radius: 40px;
  padding: 10px 30px;
}

.home-main-tweet-section-button {
  background-color: var(--blueText);
}

.tweetcardprofilenameanddisplayholder::-webkit-scrollbar {
  display: none;
}

.main-tweeter-loading {
  color: var(--blueText);
}

.uploadtweetimage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.tweethomepagetextarea {
  resize: none;
  height: auto;
  min-height: 2em;
  max-height: 80vh;
  overflow-y: visible;
}

.tweethomepagetextareamain {
  resize: none;
  height: auto;
  min-height: 2em;
  overflow-y: visible;
}

.tweethomepagetextarea::-webkit-scrollbar,
.tweethomepagetextareamain::-webkit-scrollbar {
  display: none;
}

@keyframes ldio-n8lfyh0swjf {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-n8lfyh0swjf div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid #ebebeb;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-n8lfyh0swjf div {
  animation: ldio-n8lfyh0swjf 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-f1y382xhthh {
  width: 18px;
  height: 18px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-n8lfyh0swjf {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.18);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-n8lfyh0swjf div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

.home-main-tweet-section-bottom {
  color: var(--blueText);
}

.home-main-tweet-section {
  border-bottom: var(--homeBorder);
  max-height: 80vh;
}

.home-main-tweet-section1 {
  border-bottom: var(--homeBorder);
}

.section1-main-explore:hover,
.section1-main-setting:hover,
.section1-main-home-icon:hover,
.homepage-header-settings-icon:hover,
.section1-main-home-icon-long:hover:hover,
.section1-main-home-icon-long-messge:hover,
.section1-main-home-icon-long-notif:hover,
.section1-main-home-icon-long-bkmrk:hover,
.section1-main-home-icon-long-home:hover,
.section1-main-home-icon-profile:hover,
.home-nav-acc-button:hover,
.homepage-center-top-nav-foryou:hover,
.homepage-center-top-nav-following:hover {
  background-color: rgb(24, 24, 24);
}

.search-top-nav-bar::-webkit-scrollbar {
  display: none;
}

.search-ellipse:hover {
  background-color: rgb(24, 24, 24);
}

.home-nav-acc-button {
  width: 240px;
  justify-content: space-between;
}

.homepage-center-showmoreinfo {
  color: rgb(27, 145, 225);
}

.homepage-auth-banner-holder {
  margin-left: 260px;
  width: 930px;
}

.homepage-login-banner {
  background-color: rgb(29, 155, 240);
  touch-action: none;
}

.homepage-login-banner-auth-signup {
  border: 1px solid rgb(255, 255, 255);
}

.homepage-login-banner-auth-login {
  border: 1px solid rgb(255, 255, 255);
  outline: none;
}

.homepage-center-showmoreinfo {
  border-bottom: 1px solid gray;
}

.homepage-center-whats-happening-card-top-info-winner-dot {
  font-size: 2px;
}

.homepage-center-whats-happening-showmore {
  color: var(--blueText);
}

.homepage-center-whats-happening-showmore:hover {
  background-color: var(--faintHover);
}

.homepage-auth-overlay {
  background-color: rgba(77, 91, 102, 0.5);
}

.notificationUserImage {
  display: none;
}

/* Media queries */

.settings-page {
  width: 100%;
  font-family: Helvetica;
  color: rgb(231, 233, 234);
}

.mobile-bottom-nav {
  display: none;
  touch-action: none;
}

.settings-main-tab {
  border-right: var(--homeBorder);
  width: 350px;
}

.setting-these-set-text {
  border-bottom: var(--homeBorder);
}

.settings-additional-resources,
.settings-tweet-data,
.settings-personalized-data {
  height: 65px;
}

.settings-additional-resources:hover,
.settings-tweet-data:hover,
.settings-personalized-data:hover,
.twetter-data-tabs:hover {
  background-color: rgb(22, 24, 28);
}

.settings-chevron-icons,
.settings-allow-all,
.addres-check-out {
  color: rgb(113, 118, 123);
}

.personalization-and-data-section,
.tweeter-Data-section,
.additional-resources-section {
  width: 600px;
  border-right: var(--homeBorder);
  border-left: var(--homeBorder);
}

.bookmarkElips:hover {
  background-color: var(--buttonHover);
}

.bookmarkUserName {
  color: var(--homeLabelColor);
}

.notificationUserImage {
  min-width: 50px;
}

.profileImgLoader {
  top: -50px;
  left: -40px;
}

.personalization-and-data-head-nav-arrow-holder:hover {
  background-color: var(--buttonHover);
}

.personalization-and-data-head-text-these-settings {
  color: var(--homeLabelColor);
  border-bottom: var(--homeBorder);
}

.personalization-and-data-top-2 {
  border-bottom: var(--homeBorder);
}

.personalization-and-data-top-2-text-this-will {
  color: var(--homeLabelColor);
}

.personalization-and-data-top-2-top-personalize {
  font-size: 15px;
}

.personalization-and-data-person-ad-check {
  border-radius: 3px;
}

.personalization-and-data-person-ad-you-will,
.personalization-and-data-person-text-twitter-will,
.personalization-and-data-section-data-text,
.personalization-and-data-person-text-Tweeter-will,
.settings-personalize-text-this-may {
  color: var(--homeLabelColor);
  font-size: 14px;
}

.profileImagesChangeButton {
  bottom: 16px;
  left: 30px;
  color: rgba(0, 0, 0, 0.5);
}

.profileImagesChangeButton:hover {
  color: rgba(0, 0, 0, 0.7);
}

.personalization-and-data-person-text-Tweeter-will {
  border-bottom: var(--homeBorder);
}

.profilePageHeader {
  border-bottom: var(--homeBorder);
  position: absolute;
}

.blue {
  color: var(--homeLabelColor);
}

.bookmarkheader {
  border-bottom: var(--homeBorder);
}

.accountnotfoundgooglelogin {
  bottom: 65px;
}

.profileimageinproflepage {
  bottom: 75%;
  left: 3%;
}
.dotfontawe {
  font-size: 3px;
}

.tweetfullactionsection {
  border-top: var(--homeBorder);
  border-bottom: var(--homeBorder);
}

.profileimageintweetdevpage {
  bottom: 160px;
  left: 3%;
}

.bookmarkBackArrow {
  display: none;
}

.profilepagetabholder {
  border-bottom: 1px solid var(--homeLabelColor);
}

.minwidthprofiletab {
  min-width: 100px;
}

.devpagetabholder::-webkit-scrollbar {
  display: none;
}

.profilepageTweetsbigTab:hover {
  background-color: var(--buttonHover);
}

.profilepageLikesbigTab:hover {
  background-color: var(--buttonHover);
}

.notificationheaderBorder {
  border-bottom: var(--homeBorder);
  touch-action: none;
}

.notificationcard:hover {
  background-color: var(--faintHover);
}

.notificationSettingsButton:hover {
  background-color: var(--buttonHover);
}

.notificationcard {
  border-bottom: var(--homeBorder);
}

.custom-checkbox:hover {
  background-color: rgb(3, 16, 24);
}

.settings-personalize-disable {
  background-color: rgb(239, 243, 244);
  border: none;
}

.settings-personalize-disable:hover {
  background-color: var(--logBHover);
}

.settings-personalize-cancel {
  border: 1px solid rgb(79, 95, 107);
}

.settings-personalize-cancel:hover {
  background-color: var(--buttonHover);
}

.addres-relase-note-tab {
  border-bottom: var(--homeBorder);
}

.main-settings-navigation-arrow {
  display: none;
}

.mobile-search-box-bird {
  display: none;
}

.ellipses-mobile-explore-header {
  display: none;
}

.ellipseinFullTweet:hover {
  background-color: rgb(3, 16, 24);
  color: rgb(30, 154, 238);
}

.mobile-settings-call {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.mobile-settings-call-cancel {
  border: 1px solid var(--homeLabelColor);
}

.overlay-open {
  overflow: hidden;
}

.login-enter-password-email-blur {
  background-color: rgb(16, 18, 20);
  border-radius: 5px;
}

.disabled-input-text {
  color: rgb(52, 55, 57);
}

@keyframes ldio-t5x32ssrll9 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-t5x32ssrll9 div {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 10px solid var(--blueText);
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-t5x32ssrll9 div {
  animation: ldio-t5x32ssrll9 1s linear infinite;
  top: 50px;
  left: 50px;
}
.loadingio-spinner-rolling-o8a0fs8tskj {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-t5x32ssrll9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.24);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-t5x32ssrll9 div {
  box-sizing: content-box;
}

.enter-password-login-input {
  border: var(--homeBorder);
}

.enter-password-login-input {
  border: 1px solid rgb(51, 54, 57);
  padding-bottom: 8px;
  padding-top: 20px;
  padding-left: 13px;
}

.enter-password-login-input:focus {
  border: var(--inputFocus);
  outline: none;
  padding-bottom: 7px;
  padding-top: 19px;
  padding-left: 12px;
}

.phemus-label2 {
  white-space: nowrap;
}

.enter-password-login-input:focus + .phemus-label2,
.enter-password-login-input:not(:placeholder-shown) + .phemus-label2 {
  animation: identifier 0.1s linear forwards;
  color: rgb(64, 147, 255);
}

.login-pass-text-enter-pass {
  padding-left: var(--loginspace);
}

.login-enter-password-email-blur,
.step-one-text-create-account,
.step-one-text-dob,
.step-one-age-input-holder,
.step-one-next {
  margin-left: var(--loginspace);
  margin-right: var(--loginspace);
}

.login-password-input-holder {
  margin-left: var(--loginspace);
  margin-right: var(--loginspace);
}

.final-login-button {
  margin-left: var(--loginspace);
  margin-right: var(--loginspace);
}

.login-password-text-dont-have {
  margin-left: var(--loginspace);
  margin-right: var(--loginspace);
}

.login-password-text-forg-pass {
  margin-left: 85px;
  margin-right: 85px;
}

.home-main-bird-header {
  color: var(--blueText);
}

.morenewtweetsbutton {
  background-color: var(--blueText);
  right: 35%;
  top: 70px;
  z-index: 1;
  display: none;
}

.morenewtweetsbuttonEnterAnimate {
  display: block;
  animation: loadmoretweetEnter 1s ease-in forwards;
}

@keyframes loadmoretweetEnter {
  0% {
  }

  100% {
    top: 130px;
  }
}

.home-navbar-mobile {
  display: none;
  padding-bottom: 20px;
}

.step-one-age-input {
  border: 1px solid rgb(51, 54, 57);
  outline: none;
  width: 100%;
}

.step-one-age-input:focus {
  border: var(--inputFocus);
}

@keyframes ldio-zcjeuetn0iq {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-zcjeuetn0iq div {
  left: 47px;
  top: 24px;
  position: absolute;
  animation: ldio-zcjeuetn0iq linear 1s infinite;
  background: #93dbe9;
  width: 6px;
  height: 12px;
  border-radius: 3px / 6px;
  transform-origin: 3px 26px;
}
.ldio-zcjeuetn0iq div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #93dbe9;
}
.ldio-zcjeuetn0iq div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #93dbe9;
}
.loadingio-spinner-spinner-fh0bp1jsv8o {
  width: 38px;
  height: 38px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}
.ldio-zcjeuetn0iq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.38);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-zcjeuetn0iq div {
  box-sizing: content-box;
}

.step-2-text-check-your {
  margin-left: var(--loginspace);
  margin-right: var(--loginspace);
}

.signup-box-def-spacing {
  margin-left: var(--loginspace);
  margin-right: var(--loginspace);
}

.signup-step-two-by-signing {
  color: var(--homeLabelColor);
  font-size: 15px;
}

.step2-next {
  background-color: var(--loginButton);
}

.step2-next:hover {
  background-origin: var(--buttonHover);
}

.default-checkbutton {
  border-radius: 5px;
}

.step-3-boarder {
  border: 1px solid rgb(51, 54, 57);
  border-radius: 5px;
}

.step-three-signup {
  background-color: rgb(29, 155, 240);
}

.step-three-signup:hover {
  background-color: rgb(26, 140, 216);
}

.notificationHeaderAll {
  border-bottom: 4px solid #1d9bf0;
}

.step-5-continue-profile {
  border-bottom: 1px solid var(--homeLabelColor);
}

.step-5-or {
  bottom: 43%;
  right: 50%;
}

.profilebacdropimage {
  width: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1080' height='200' preserveAspectRatio='none' viewBox='0 0 1080 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1044%26quot%3b)' fill='none'%3e%3crect width='1080' height='200' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M697.06 74.7L703.2 74.7L703.2 75.04L697.06 75.04z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M37.07 199.59L55.53 199.59L55.53 203.14L37.07 203.14z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M926.88 105.9 a6.97 6.97 0 1 0 13.94 0 a6.97 6.97 0 1 0 -13.94 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M598.27 194.31 a9.55 9.55 0 1 0 19.1 0 a9.55 9.55 0 1 0 -19.1 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M33.93 125.96a1.47 1.47 0 1 0-1.67 2.42z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M411.3 99.16L421.1 99.16L421.1 114.83L411.3 114.83z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M706.94 81.91 a15.19 15.19 0 1 0 30.38 0 a15.19 15.19 0 1 0 -30.38 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M656.55 179.15L675.81 179.15L675.81 198.41L656.55 198.41z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M47.89 14.66a14.1 14.1 0 1 0 14.74 24.04z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1001.13 205.38a9.24 9.24 0 1 0 10.09-15.48z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M376.32 8.33 a18.53 18.53 0 1 0 37.06 0 a18.53 18.53 0 1 0 -37.06 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M201.5 16.47a19.1 19.1 0 1 0-31.17 22.08z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M317.36 75.04 a5.74 5.74 0 1 0 11.48 0 a5.74 5.74 0 1 0 -11.48 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M302.11 87.14a10.84 10.84 0 1 0-21.51-2.68z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M214.44 97.09a1.45 1.45 0 1 0 2.9 0.18z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M398.17 114.95 a3.14 3.14 0 1 0 6.28 0 a3.14 3.14 0 1 0 -6.28 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M943.9 129.74a13.64 13.64 0 1 0 24.68-11.62z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M808.41 46.05a10.66 10.66 0 1 0-13.08-16.83z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M51.53 16.61L55.25 16.61L55.25 27.2L51.53 27.2z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M146.86 103.6a6.58 6.58 0 1 0-10.52 7.9z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M171.08 176.96L182.57 176.96L182.57 188.45L171.08 188.45z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M471.58 137.2L481.89 137.2L481.89 150.85L471.58 150.85z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M46.01 101.36L60.03 101.36L60.03 117.98L46.01 117.98z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M669.95 76.59L683.48 76.59L683.48 90.12L669.95 90.12z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M732.94 179.83 a18.2 18.2 0 1 0 36.4 0 a18.2 18.2 0 1 0 -36.4 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M411.24 62.4 a14.25 14.25 0 1 0 28.5 0 a14.25 14.25 0 1 0 -28.5 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M334.92 147.22L341.98 147.22L341.98 154.39L334.92 154.39z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M781.4 159.89L801.36 159.89L801.36 164.63L781.4 164.63z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M979.87 115.41a7.5 7.5 0 1 0-10.46 10.76z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M952.34 78.7L964.76 78.7L964.76 86.49L952.34 86.49z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M540.82 34.75L544.36 34.75L544.36 38.29L540.82 38.29z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M987.02 111.31L987.63 111.31L987.63 111.92L987.02 111.92z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M803.08 163.89 a17.66 17.66 0 1 0 35.32 0 a17.66 17.66 0 1 0 -35.32 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M463.53 7.67a14.83 14.83 0 1 0-25.99 14.29z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M141.75 53.78L160.43 53.78L160.43 72.46L141.75 72.46z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M977.03 37.37a18.89 18.89 0 1 0 36.75-8.76z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M249.59 39.83a0.06 0.06 0 1 0 0.09-0.08z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M250.28 53.47a11.68 11.68 0 1 0-20.54 11.12z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M788.38 173.51 a14.28 14.28 0 1 0 28.56 0 a14.28 14.28 0 1 0 -28.56 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M738.71 81.81L754.86 81.81L754.86 88.5L738.71 88.5z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M334.76 194.13 a19.33 19.33 0 1 0 38.66 0 a19.33 19.33 0 1 0 -38.66 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M681.93 20.08L697.06 20.08L697.06 23.32L681.93 23.32z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M977.2 179.5 a16.28 16.28 0 1 0 32.56 0 a16.28 16.28 0 1 0 -32.56 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M468.1 56.36a2.44 2.44 0 1 0 3.6-3.3z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M453.61 161.63a13.65 13.65 0 1 0-11.3-24.85z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M873.47 48.74 a19.14 19.14 0 1 0 38.28 0 a19.14 19.14 0 1 0 -38.28 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M574.21 130.58L578.64 130.58L578.64 135.01L574.21 135.01z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M756.89 86.11 a11.03 11.03 0 1 0 22.06 0 a11.03 11.03 0 1 0 -22.06 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M954.27 67.84a12.82 12.82 0 1 0-0.59 25.63z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M574.48 196.79L577.71 196.79L577.71 200.02L574.48 200.02z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M452.68 52.81 a8.02 8.02 0 1 0 16.04 0 a8.02 8.02 0 1 0 -16.04 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1049.11 176.28L1065.02 176.28L1065.02 179.65L1049.11 179.65z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M852.65 140.72L871.61 140.72L871.61 146.57L852.65 146.57z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M756.74 160.64L774.35 160.64L774.35 164.76L756.74 164.76z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M363.41 12.33a1.58 1.58 0 1 0-1.7 2.67z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M162.72 19.51L165.53 19.51L165.53 22.32L162.72 22.32z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M100.18 172.47a2.71 2.71 0 1 0 4.52 3z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M384.31 123.08L402.55 123.08L402.55 141.24L384.31 141.24z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1045.46 131.26L1060.81 131.26L1060.81 146.61L1045.46 146.61z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M859.18 149.49a1.44 1.44 0 1 0 2.84-0.48z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M107.56 102.36a7.63 7.63 0 1 0 10.22-11.34z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1059.06 84.89a7.07 7.07 0 1 0 9.18-10.76z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M856.2 145.05L872.55 145.05L872.55 160.94L856.2 160.94z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M116.78 75.82L135.88 75.82L135.88 91.73L116.78 91.73z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M805.97 171.8a10.06 10.06 0 1 0-13.6-14.83z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M632.6 122.17 a17.7 17.7 0 1 0 35.4 0 a17.7 17.7 0 1 0 -35.4 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M17.23 194.89L20.05 194.89L20.05 197.71L17.23 197.71z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M942.19 196.79L953.66 196.79L953.66 198.47L942.19 198.47z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1044'%3e%3crect width='1080' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.explore-signup-card {
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-nav-tweet-button {
  background: var(--blueText);
  padding: 8px 80px;
}

.home-nav-tweet-quil {
  display: none;
}

.home-nav-profile-image {
  margin-right: 12px;
  padding-right: 5px;
}

.messageTextDropaline {
  color: var(--homeLabelColor);
}

.exploreProfileDiv {
  min-width: 40px;
}

.messageWriteMessageButton {
  background-color: var(--blueText);
}

.messageWriteMessageButton:hover {
  background-color: rgb(29, 144, 221);
}

.profileHoverCard {
  top: -380%;
}

.devpageblogtab {
  margin-top: 124px;
}

.notificationmainsection::-webkit-scrollbar {
  width: 10px;
}

.linkdevpagepost {
  border-radius: 10px;
  border: var(--homeBorder);
}

.inputprofiledetailbox {
  height: 580px;
  width: 600px;
  border-radius: 20px;
}

.inputtweetdetailbox {
  min-height: 350px;
  width: 600px;
  border-radius: 20px;
  max-height: 95vh;
}

.tweetwebluttext {
  color: var(--blueText);
}

.inputtweetdetailboxnav {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
}

.saveprofilebuttton:hover {
  background: whitesmoke;
}

.retweetedText {
  color: var(--homeLabelColor);
}

.notificationmainsection::-webkit-scrollbar-track,
.home-main-tweet-section::-webkit-scrollbar-track,
.home-main-tweet-section1::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}

.notificationmainsection::-webkit-scrollbar-thumb,
.home-main-tweet-section::-webkit-scrollbar-thumb,
.home-main-tweet-section1::-webkit-scrollbar-thumb {
  background-color: var(--blueText);
  border-radius: 30px;
}

.bookmarkmainsection::-webkit-scrollbar,
.home-main-tweet-section::-webkit-scrollbar,
.home-main-tweet-section1::-webkit-scrollbar {
  width: 10px;
}

.bookmarkmainsection::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
}

.bookmarkmainsection::-webkit-scrollbar-thumb {
  background-color: var(--blueText);
  border-radius: 30px;
}

@media screen and (max-width: 1330px) {
}

@media screen and (max-width: 1280px) {
  .homepage-left {
    width: 10%;
    border: none;
    border-right: var(--homeBorder);
    padding-right: 50px;
  }

  .home-nav-acc-button {
    width: 60px;
  }

  .home-nav-profile-image {
    margin-right: 0px;
  }

  .home-nav-acc-button {
    justify-content: center;
  }

  .home-bottom-nav-holder {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
  }

  .home-nav-tweet-button {
    background: var(--blueText);
    padding: 18px;
  }

  .home-nav-tweet-tweet {
    display: none;
  }

  .home-nav-tweet-quil {
    display: block;
  }

  .home-nav-acc-button-ellips,
  .home-nav-acc-button-user {
    display: none;
  }

  .section1-main-explore,
  .section1-main-setting,
  .section1-main-home-icon,
  .section1-main-home-icon-long,
  .section1-main-home-icon-long:hover:hover,
  .section1-main-home-icon-long-messge:hover,
  .section1-main-home-icon-long-notif:hover,
  .section1-main-home-icon-long-bkmrk:hover,
  .section1-main-home-icon-long-home:hover,
  .section1-main-home-icon-profile:hover {
    width: 100%;
    height: 50px;
    border-radius: 40px;
  }

  .section1-main {
    align-items: center;
  }

  .homepage-center {
    border-right: var(--homeBorder);
    width: 52%;
  }
  .homepage-right {
    width: 38%;
  }

  .homepage-bird {
    width: 100%;
  }

  .homepage-header-searchbox {
    width: 100%;
    max-width: 450px;
  }

  .homepage-auth-banner-holder {
    margin-left: 80px;
    width: 900px;
  }
}

@media screen and (max-width: 1150px) {
  .settings-main-tab {
    width: 320px;
  }

  .home-nav-tweet-button {
    margin-right: 15px;
  }

  .home-nav-acc-button {
    margin-right: 15px;
  }

  .main-tweet-image {
    width: 100%;
  }

  .main-tweet-card {
    padding-right: 10px;
  }
}

@media screen and (max-width: 1040px) {
  .settings-main-tab {
    width: 600px;
  }
}

@media screen and (max-width: 1050px) {
  .next-signup-button-home-variant,
  .apple-butt-login-home-variant,
  .create-acc-home,
  .homepage-right-By-sign,
  .homepage-right-sign-now,
  .homepage-right-navbox {
    width: var(--loginContentWidth1);
  }

  .homemain-head-search,
  .home-main-trends-for-you {
    width: 300px;
    color: var(--homeLabelColor);
  }

  .homepage-right-box {
    width: 300px;
  }

  .homepage-right-box-who-to-follow {
    width: 300px;
  }

  .homepage-center {
    border-right: var(--homeBorder);
    width: 52%;
  }
  .homepage-right {
    width: 33%;
  }

  .homepage-auth-banner-holder {
    margin-left: 0px;
    width: 800px;
  }
}

@media screen and (max-width: 1000px) {
  .section1-main-search {
    display: flex;
  }

  .homepage-right {
    display: none;
  }

  .homepage {
    padding: 0 100px;
  }

  .homepage-right {
    width: 0;
  }

  .homepage-center {
    width: 85%;
  }

  .homepage-left {
    width: 15%;
  }

  .homepage-auth-banner-holder {
    justify-content: center;
    gap: 70px;
    width: 600px;
    margin-left: 100px;
  }
}

@media screen and (max-width: 850px) {
  .homepage {
    padding: 0 50px;
  }

  .home-nav-tweet-button {
    margin-right: 25px;
  }

  .home-nav-acc-button {
    margin-right: 25px;
  }
}

@media screen and (max-width: 730px) {
  .homepage {
    padding: 0 0px;
  }
}

@media screen and (max-width: 700px) {
  .homepage-auth-banner-holder {
    width: 600px;
    margin-left: 0px;
  }

  .homepage-header-searchbox {
    width: 100%;
  }

  .homepage {
    width: 100%;
  }

  .explore-signup-card {
    width: 100%;
    height: 100%;
  }



  .main-card-profile-pic {
    min-width: 40px;
    margin-right: 20px;
  }

  .main-tweet-card-second-half {
    width: 100%;
  }

  .main-tweet-card-first-half {
    min-width: 50px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .main-tweet-card-holder {
    left: 20%;
    top: 8%;
  }

  .inputprofiledetailbox {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .inputtweetdetailbox {
    min-height: 100vh;
    width: 100%;
    border-radius: 0;
  }

  .inputtweetdetailboxnav {
    border-radius: 0;
  }

  .main-tweet-card-second-half {
    width: 80%;
  }

  .inputtweetdetailboxnav {
    position: fixed;
    top: 0%;
    width: 100%;
  }

  .inputtweetdetailboxnavhandler {
    padding-top: 110px;
  }

  .bankcard {
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .homepage-center {
    width: 100%;
    border-right: none;
  }

  .leftnavbackcover {
    display: block;
  }

  .profilePageHeader {
    position: fixed;
  }

  .top-mobile-nav {
    position: fixed;
  }

  .devpageblogtab {
    margin-top: 128px;
  }

  .bookmarkBackArrow {
    display: block;
  }

  .notificationUserImage {
    display: flex;
  }

  .floating-tweet-button {
    display: flex;
  }

  .home-navbar-mobile {
    display: block;
    width: 350px;
  }

  .main-settings-navigation-arrow {
    display: flex;
  }

  .mobile-search-box-bird {
    display: block;
    font-size: 25px;
  }

  .home-main-header-text-home {
    display: none;
  }

  .ellipses-mobile-explore-header {
    display: block;
  }

  .homepage-header-settings-icon {
    display: none;
  }

  .login-pass-text-enter-pass {
    padding-left: var(--loginspacesmall);
  }

  .login-enter-password-email-blur,
  .step-one-text-create-account,
  .step-one-text-dob,
  .step-one-age-input-holder,
  .step-one-next,
  .step-2-text-check-your {
    margin-left: var(--loginspacesmall);
    margin-right: var(--loginspacesmall);
  }

  .login-password-input-holder {
    margin-left: var(--loginspacesmall);
    margin-right: var(--loginspacesmall);
  }

  .final-login-button {
    margin-left: var(--loginspacesmall);
    margin-right: var(--loginspacesmall);
  }

  .login-password-text-dont-have {
    margin-left: var(--loginspacesmall);
    margin-right: var(--loginspacesmall);
  }

  .login-password-text-forg-pass {
    margin-left: 25px;
    margin-right: 25px;
  }

  .signup-box-def-spacing {
    margin-left: var(--loginspacesmall);
    margin-right: var(--loginspacesmall);
  }

  .mobile-bottom-nav {
    display: flex;
    border-top: var(--homeBorder);
    color: white;
  }
}

@media screen and (min-width: 500px) {
  .go-2-settings-blur {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .home-navbar-mobile {
    width: 300px;
  }

  .bankinbankcard {
    display: none;
  }

  .profileimageintweetdevpage {
    bottom: 190px;
    left: 3%;
  }
}

@media screen and (max-width: 300px) {
  .home-navbar-mobile {
    width: 100vw;
  }

  .profilebacdropimage {
    height: 100px;
  }

  .profileimageinproflepage {
    height: 81px;
    width: 81px;
    bottom: 80%;
  }

  .profileimageinproflepageimage {
    height: 70px;
    width: 70px;
  }

  .profileimageintweetdevpage {
    height: 81px;
    width: 81px;
    bottom: 80%;
  }
}
